.App {
  text-align: center;
}
.header {
  border: 1px solid;
  background-image: url("./img/header-background.jpg");
  background-size: cover;
}
.header h1 {
  padding: 20px;
  color: white;
}
.header h1 i {
  color: yellow;
}
.card-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.card-footer i {
  color: red;
}
.login-content {
  margin-top: 50px;
}
.link .btn {
  background-color: #40b9ed;
  border-color: #40b9ed;
}
.link .btn:hover {
  background-color: #03a9f4;
}
.link input {
  border: none;
  height: 0px;
  padding: 0px;
}
.link input:focus {
  box-shadow: none;
}
.repo {
  text-align: left;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  width: 85%;
}

.repo-input,
.repo-data {
  width: 70%;
  margin: auto;
}
.repo-input {
  width: 660px;
}
.repo-data {
  margin-top: 30px;
}
.repo .userinfo img,
.repo .userinfo .username {
  display: inline-block;
}
.repo .userinfo img {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.added-repo {
  margin: auto;
  margin-top: 10px;
  width: 400px;
  text-align: left;
}
.added-repo ul {
  list-style-type: none;
  font-size: 1.3rem;
  padding: 0px;
  white-space: nowrap;
}
.added-repo img {
  height: 14px;
  margin-left: 20px;
}
.added-repo i:hover {
  cursor: pointer;
}
.github-userinfo {
  margin-top: 50px;
}
.github-userinfo img {
  width: 120px;
  border-radius: 5px;
  margin-right: 10px;
  top: -55px;
  position: relative;
}
.github-userinfo .user-detail,
.github-userinfo .user-image {
  display: inline-block;
}
.github-userinfo .user-detail {
  text-align: left;
}
/*Buttons*/
.loginbtn {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 19px;
  margin: 5px;
  overflow: hidden;
  padding: 0px 10px;
  user-select: none;
  height: 50px;
  margin-top: 20px;
}
.loginbtn-github {
  background: rgb(51, 51, 51);
}
.loginbtn-github:hover {
  background: rgb(85, 85, 85);
}

/*Auto Suggest style*/
.autoInput {
  width: 70%;
}
.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  //height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  //top: 51px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: left;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 200px;
  overflow: scroll;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
