.App {
  text-align: center;
}
.header {
  border: 1px solid;
}
.header h1 {
  padding: 20px;
}
.header h1 i {
  color: yellow;
}
.card-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
.card-footer i {
  color: red;
}
.link .btn {
  background-color: #40b9ed;
  border-color: #40b9ed;
}
.link .btn:hover {
  background-color: #03a9f4;
}
.link input {
  border: none;
  height: 0px;
  padding: 0px;
}
.link input:focus {
  box-shadow: none;
}
.repo {
  text-align: left;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 80px;
  width: 85%;
}
.repo-input,
.repo-data {
  width: 70%;
  margin: auto;
}
.repo-data {
  margin-top: 30px;
}
.repo .userinfo img,
.repo .userinfo .username {
  display: inline-block;
}
.repo .userinfo img {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.added-repo {
  margin: auto;
  margin-top: 10px;
  width: 400px;
  text-align: left;
}
.added-repo ul {
  list-style-type: none;
  font-size: 1.3rem;
  padding: 0px;
}
.added-repo img {
  height: 14px;
  margin-left: 20px;
}
.added-repo i:hover {
  cursor: pointer;
}
#button-addon2 {
  //background-color: #40B9ED;
}

.github-userinfo .col-md-2 img {
  width: 100%;
  border-radius: 5px;
}
.github-userinfo .user-info {
  text-align: left;
}
/*Buttons*/
.loginbtn {
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 19px;
  margin: 5px;
  overflow: hidden;
  padding: 0px 10px;
  user-select: none;
  height: 50px;
  margin-top: 20px;
}
.loginbtn-github {
  background: rgb(51, 51, 51);
}
.loginbtn-github:hover {
  background: rgb(85, 85, 85);
}
